<h1>{{name}}</h1>
<p><img src="{{photo}}" alt="{{photo}}"></p>
<p>Check out my website: <a href="{{url}}">{{url}}</a></p>
<p>{{info}}</p>
<p><a href="/">Home</a>
<p>Click this button at your peril:</p>
<form class="" action=/delete/{{user_id}} method="post">
  <input type="Submit" value="Delete">
</form>
